<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mail Client</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'mail/styles/style.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="{% static 'mail/scripts/script.js' %}"></script>
    </head>
    <body class="preload" onload="timerReloadEmail()">

    <label hidden id="mail_list">{{ mail }}</label>

        <header>
            <h1>
                MAIL CLIENT
            </h1>
            <img id="imgLogOut" src="{% static 'mail/img/profile.png' %}" onclick="OpenWindLogOut()">
            <nav id="navUser">
                <ul id="ulLogOut">
                    <li class="liLogOut">{{ user }}</li>
                    <li id="idLiLogOut" class="liLogOut" onclick="logOut()">LogOut</li>
                    <form id="logOut" action="{% url 'mail:login' %}" method="POST">
                        {% csrf_token %}

                        <input type="hidden" value="{{ token }}" name="token">

                    </form>
                </ul>
            </nav>
        </header>

        <div id="phoneMenu">
            <nav>
                {% for box in boxes %}
                <button class="sidebar_button">
                    {{ box }}
                </button> <br>
                {% endfor %}
            </nav>
        </div>
        <button class="sendBtn sendBtn_phone">
            Write mail
        </button>

        <aside>
            <div class="side_container">
                <button class="sendBtn" onclick="btnWriteClicked()">
                    Write mail
                </button>

                <nav>
                    {% for box_dict in boxes %}
                        {% for id, box in box_dict.items %}
                            <form id="{{ id }}" action="{% url 'mail:home' %}" method="POST">
                                {% csrf_token %}
                                
                                <input type="hidden" value="{{ id }}" name="box">
                                <input type="hidden" value="{{ token }}" name="token">

                                <button class="sidebar_button" onclick="selBox('{{ id }}', '{{ token }}')">
                                    {{ box }}
                                </button> <br>

                            </form>
                        {% endfor %}
                    {% endfor %}
                </nav>
            </div>
        </aside>
        
        <div class="content">
            <div id="pageContent">
                {% block PageContent %}
                {% for element in mail %}
                <form id="{{ element.messid }}" action="{% url 'mail:inspect_mail' %}" method="GET">
                    {% csrf_token %}
                    <div class="mail" onClick="document.forms['{{ element.messid }}'].submit()">
                        <input type="hidden" value="{{ element.messid }}" name="messid">
                        <input type="hidden" value="{{ token }}" name="token">
                        
                        {% if mail_sent is False %}
                            <div style="float: left; width: 25%; white-space: nowrap; text-overflow: clip; overflow: hidden; text-align: center;">{{ element.from }}</div>
                        {% else %}
                            <div style="float: left; width: 25%; white-space: nowrap; text-overflow: clip; overflow: hidden; text-align: center;">{{ element.to }}</div>
                        {% endif %}
                        <div style="float: left; width: 50%; white-space: nowrap; text-overflow: clip; overflow: hidden; text-align: center;">{{ element.subject }}</div>
                        <div style="float: left; width: 25%; text-align: right;">{{ element.date }}&emsp;</div>
                    </div>
                </form>
                {% endfor %} 
                {% endblock %}         
            </div>
        </div>

        <div id="wroteEmailDiv">

            {% include "mail/write_mail.html" %}

        </div>
        
    </body>
</html>
