{% extends "mail/index.html" %}

{% block PageContent %}

<div id="divInsMail">

    <div id="divObjMail">
        {{ subject }}<br><br>
    </div>

    <div id="divTableMail">
        <table>
            <tr>
                <td id="divFromMail">
                    {{ from }} <button id="btnOpenDetails" onclick="btnViewMailDetails()"><i class="fa fa-caret-down"></i></button>
                </td>
                <td id="divDateMail">{{ date }}</td>
            </tr>
        </table>
        <div id="myDropdown" class="dropdown-content">
            <label>from: {{ from }}</label><br>
            to:
            {% for email in mailTo %}
                {% if email is not None %}
                    <label>{{ email }}</label><br>
                {% endif %}
            {% endfor %}
            <label>date: {{ date }}</label><br>
            <label>subject: {{ subject }}</label>
        </div>
    </div>

    <div>
        {{ body }}
    </div>

    <div>
        {% if file is not None %}

            {% for doc in file %}
                <a href="/mail/{{ doc.url }}">{{ doc.name }}</a>
            {% endfor %}

        {% endif %}
    </div>
    
</div>

{% endblock %}