{% extends "mail/index.html" %}

{% block PageContent %}
{% load static %}

<div id="divInsMail">

    <div id="divObjMail">
        {{ subject }}<br><br>
    </div>

    <div id="divTableMail">
        <table>
            <tr>
                <td id="divFromMail">
                    {{ from }} <button id="btnOpenDetails" onclick="btnViewMailDetails()"><i class="fa fa-caret-down"></i></button>
                </td>
                <td id="divDateMail">{{ date }}</td>
            </tr>
        </table>
        <div id="myDropdown" class="dropdown-content">
            <label>from: {{ from }}</label><br>
            to:
            {% for email in to %}
                {% if email is not None %}
                    <label>{{ email }}</label><br>
                {% endif %}
            {% endfor %}
            cc:
            {% for email in cc %}
                {% if email is not None %}
                    <label>{{ email }}</label><br>
                {% endif %}
            {% endfor %}
            <label>date: {{ date }}</label><br>
            <label>subject: {{ subject }}</label>
        </div>
    </div>

    <div id="dBodyMail">
        <label>
            {{ body.plain }}
        </label>
    </div>

    <div style="display: table; position: fixed; bottom: 25px;">
        {% if file is not None %}

            {% for doc in file %}
                {% include "mail/file_reader.html" %}
            {% endfor %}

        {% endif %}
    </div>
    
</div>

{% endblock %}